@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Database_201_721.Models.User>


<a class = "btn btn-sm btn-primary" asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td> 

            <td>@user.Year</td>

            <td>
                @if(@user.ChangeRequestYear != null)
                {
                    <a class="btn btn-danger btn-sm" asp-action="ChangeRequeist" asp-route-id="@user.Id">Пользователь отправил запрос на изменение</a>
                }
            </td>

            <td> 
                 
 
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить данные о пользователе</a>
                    <a class="btn btn-sm btn-primary" asp-action="AddOrEditGroup" asp-route-id="@user.Id">Изменить/Добавить группу</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
